*, *::before, *::after {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	font-family: "Monda", sans-serif;
	line-height: 1.5;
	margin: 0;
}
img, svg {
	max-width: 100%;
	vertical-align: bottom;
}
h1, h2 {
	font-family: "Bree Serif", serif;
}
h1 {
	font-size: 5rem;
	line-height: .9;
	color: #fff;
	background: #483a40 url(../img/cab.jpg) center / cover;
	text-align: center;
	margin: 0;
	padding: 15%;
}
h2 {
	color: #b5413b;
	font-size: 1.5625rem;
	line-height: 1.4;
	text-transform: uppercase;
}
p {
	line-height: 1.9;
}
a {
	color: #b5413b;
}
a:hover {
	color: #fc3a53;
}
main {
	max-width: 50em;
	padding: 20px;
	margin: auto;
}
nav {
	background-color: rgba(72,58,64, .92);
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
nav li a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
}
nav li a:hover {
	background-color: rgba(0,0,0, .5);
}
.nyc-logo {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 20px;
}
.pull-quote {
	font-family: "Bree Serif", serif;
	border-left: 3px solid #bedd6e;
	padding-left: 1em;
	color: #b5413b;
	font-size: 22px;
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}