*, *::before, *::after {
	box-sizing: border-box;
}
:root {
	--font-primary: Vollkorn, serif; 
	--font-secondary: Oswald, sans-serif;
}
html {
	font-family: var(--font-primary);
	font-size: 1.125rem;
	line-height: 1.5;

	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	margin: 0;
	background-color: #ddd;
}
img, svg {
	max-width: 100%;
	vertical-align: bottom;
}
h1 {
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 0;
	line-height: 1.2;
}
header {
	text-align: center;
	line-height: 1;
}
header a {
	font-family: var(--font-secondary);
	color: #ebebeb;
	background-color: #99999944;
	text-decoration: none;
	text-transform: uppercase;
}
header a:hover, 
header a:focus {
	color: #17a99c;
}
.logo-wrapper {
	text-align: right;
	position: relative;
	/* left: 130px; */
	top: 330px;
	background-color: #44444444;
	font-size: 2.3rem;
	letter-spacing: 0.08rem;
	font-weight: 400;
	margin: 0;
	padding: 20px;
	padding-right: 15%;
}
nav {
	background: #55555555;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
}
nav a {
	padding: 20px;
}
nav a:hover, nav a:focus {
	color: lime;
}
nav li:hover {
	/* link moves UP on mouseover */
	position: relative;
	z-index:2;
	transform: translateY(-20px);
}
main {
	padding: 20px;
	margin: 0 auto;
	max-width: 1200px;
}
.category a {
	margin: 30px 0;
	display: block;
	text-decoration: none;
	/* box-shadow: h_offset v_offset fuzz color; */
	box-shadow: 12px 16px 14px rgba(0, 0, 0, 0.333);
}
.category .description {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-secondary);
	font-size: 2rem;
	line-height: 4rem;
	color: #fff;
	background: rgba(0,0,0, .4);
}
blockquote {
	border-left: solid 3px #17a99c;
	border-right: solid 3px #17a99c;
	color: #505050;
	margin: 20px;
	padding: 20px;
}
blockquote p {
	margin-top: 0;
}
footer {
	color: #999;
	font-size: .75rem;
	text-align: center;
	padding: 20px;
}
/* tall skinny bar running vertically down whole page */
.tall-bar {
	position:absolute;
	display: none;
	top:0;
	left: 23%;
	width: 70px;
	height:1500px;
	background-color: #44444444;
	animation: unfurlBar 5s ease-in-out;
}
.pongdrian {
	position:absolute;
	display: none;
	left: 21.5%;
	top: 5px;
	width: 120px;
	filter: grayscale(50%);
	opacity: .5;
}
@keyframes unfurlBar {
	from { height:5px; }
	to { height:1500px; }
}
@media (min-width: 750px) {
	h1 {
		margin-top: 2.5rem;
	}
	.category {
		display: flex;
		gap: 30px;
	}
	blockquote {
		margin: 30px auto;
		width: 60%;
	}
}
@media (min-width: 1250px) {
	.tall-bar {
		display: block;
	}
	.pongdrian {
		display: block;
	}
}