*, *::before, *::after {
	box-sizing: border-box;
}
:root {
	--font-primary: Ubuntu, sans-serif;
	--font-secondary: Dosis, sans-serif;
}
html {
	font-size: 17px;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	margin: 4px 0;
	color: #666;
	font-family: var(--font-primary);
	font-weight: 300;
	line-height: 1.7;
}
img, svg {
	max-width: 100%;
	vertical-align: bottom;
}
a {
	color: #7096C1;
}
a:hover, a:focus {
	color: #6d98bf;
}
h1, h2, h3 {
	font-family: var(--font-secondary);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1;
	color: #000;
}
h1 {
	font-size: 38px;
	text-align: center;
	margin: 0 0 5px;
}
h2 {
	font-weight: 600;
	font-size: 22px;
	margin: 30px 0;
}
h3 {
	color: currentColor;
	font-size: 18px;
	margin: 0 0 7px;
}
h1 + p {
	margin-bottom: 30px;
	text-align: center;
}
form {
	border: 2px solid #888;
	padding: 20px;
	border-radius: 0 0 8px 8px;
	background-color: #eee;
}
label {
	display: inline-block;
	width: 100px;
	margin-bottom: 10px;
}
input[type="text"], 
input[type="email"] {
	font-size: 17px;
	padding: 6px 12px;
	width: 250px;
	margin-bottom: 10px;
}
input[type="submit"] {
	display: block;
	font-size: 17px;
	padding: 6px 12px;
	margin: 20px auto 10px; /* move sumbit btn over to the right */
	width: 90%;
} 
label[for="comments"] {
	width: 100%;
}
input, textarea {
	font-size: 16px;
	background-color: #888;
	color: #fff;
	border: none;
	border-radius: 10px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
textarea {
	width: 100%;
	min-height: 120px;
	padding: 6px 12px;
	resize: vertical; /* cannot drag textarea wider--only taller */
}
form ul {
	columns: 2; /* 2 cols of checkboxes */
	margin: 0;
	padding: 0;
	list-style-type: none;
}
form ul label {
	width: auto;
}
.content-wrapper {
	margin: 0 auto;
	max-width: 768px;
	padding: 20px;
}
header {
	border-bottom: 1px solid #ddd;
}
header nav {
	text-align: center;
	font-weight: 400;
}
nav ul, footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}
nav a, footer a {
	color: #666;
	text-decoration: none;
}
.form-heading {
	background: #888;
	color: #fff;
	padding: 17px 25px;
	line-height: 1;
	border-radius: 8px 8px 0 0;
	margin-bottom: 0;
}
aside section {
	background: #eee;
	border-radius: 8px;
	margin-top: 30px;
	padding: 30px;
	position: relative;
}
aside h3 {
	display: flex;
	align-items: center;
}
aside section p {
	margin: 0;
}
.time-badge {
	font-family: var(--font-secondary);
	font-weight: 600;
	background: #aaa;
	border-radius: 20px;
	padding: 7px 12px;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: -9px;
	right: -9px;
}
.opportunity-icon {
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
	margin-left: -5px;
}
footer {
	border-top: solid 1px #ddd;
	font-size: 13px;
	text-align: center;
}

@media (max-width: 599px) {
	header ul {
		margin-top: 10px;
	}
}

@media (min-width: 600px) {
	header nav {
		display: flex;
		align-items: center;
	}
	header .logo {
		margin-right: auto;
		margin-top: -3px;
	}
	footer .content-wrapper {
		display: flex;
		align-items: center;
	}
	.copyright {
		margin-left: auto;
	}
}

@media (min-width: 930px) {
	.content-wrapper {
		padding: 30px;
		max-width: 1100px;
	}
	main.content-wrapper {
		padding: 40px 30px;
	}
	h1 + p {
		width: 68%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
	h2 {
		margin-top: 0;
	}
	.columns-2 {
		display: flex;
		gap: 5%;
	}
	.column-left {
		width: 60%;
	}
	.column-right {
		width: 35%;
	}
}