/*
Google Fonts:
font-family: "Alfa Slab One", serif;
font-family: "Open Sans", san-serif;
*/
* {
    /* make box width include paddig and border */
    box-sizing: border-box;
}
/* allow auto to be a size in animation */
:root {
    interpolate-size: allow-keywords;
}
body {
    margin: 0;
    background-color: #555;
    font-family: "Open Sans", san-serif;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
.logo {
    width: 150px;
}
h1, h2, h3 {
    font-family: "Alfa Slab One", serif;
    font-weight: normal;
    line-height: 1.2;
}
h1 {
    font-size: 50px; /* default: 2em = 32px */
    margin: 0;
}
h2 {
    font-size: 30px; /* default: 1.5em = 24px */
}
h3 {
    font-size: 24px; /* default: 1.25em = 20px */
    background-color: #2fb3fe;
    color: #fff;
    padding: 15px;
    margin-top: 0;
}
h3 + p {
    font-weight: 700;
    font-style: italic;
    opacity: 0.5;
}
p {
    /* line-height: 28px */
    /* line-height: 175%; */
    line-height: 1.75;
}

.button-secondary img {
    vertical-align: baseline;
    margin-left: 10px;
}
.button-secondary svg * {
    stroke: red;
}
section p {
    margin: 15px;
}
.container {
    /* border: 3px dashed coral; */
    margin: 20px auto; /* TB RL */
    padding: 20px;
    max-width: 1000px;
}
header, main, footer {
    max-width: 800px;
    margin: auto;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/masthead-darkened.jpg");
    background-position: center center;
    background-size: cover;
    height: 45vh;
    color: #fff;
    text-align: center;
}
header, section {
    border: 4px solid #2fb3fe;
    margin-bottom: 30px;
    padding: 20px;
}
/* animate the header div (h1 text p tag):
 fly in from left */
header div {
    position: relative;
    /* border: 3px dashed peachpuff; */
    animation: flyInFromLeft 1.5s ease-in;
}
#burger-nav-cb {
    position:absolute;
    opacity:0;
    width:1px;
    height:1px;
}
/* when checkbox is checked (by clicking label burger icon) target the sibling ul */

/* GO HERE:
https://github.com/brianmccln */

#burger-nav-cb:checked ~ ul {
    display: flex;
    height: auto;
}

@keyframes flyInFromLeft {
   from {
        left: -1200px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

/* mobile-first design: hide the nav ul */
nav {
    border: 3px dashed aqua;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    animation: slideDownFromTop 1.5s ease-in;
}
nav > * {
    border: 3px dashed lime;
}
@keyframes slideDownFromTop {
    from {
         top: -250px;
         opacity: 0;
     }
    to {
         top: 0;
         opacity: 1;
     }
 }
nav ul {
    position:absolute;
    top:100%;
    left:0;
    right:0;
    height: 0; /* anim start ht */
    display: flex;
    flex-direction: column;
    visibility: hidden;
    pointer-events: none;
    transition: height 0.5s ease-in-out, opacity 0.2 ease-in-out;
    margin: 0;
    padding: 0;
    opacity:0;
    list-style-type: none;
    /* width:350px; */
    /* display: flex; */
    /* nav ul animates down as li stack */

}
nav ul a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
}
nav ul a:hover, nav ul a:focus {
    color: #97d0f2;
}
.burger {
    width: 44px;
    filter: invert();
}
.burger:hover {
    filter: brightness(3);
    cursor:pointer;
}
section {
    background-color: #fff;
}
footer {
    font-weight: 300;
    text-align: center;
    color: #ccc;
}

/* Media Query for desktop view */
@media (min-width:768px) {

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: auto; 
    }
    .burger {
        display: none;
    }

}
